#header {
	position: absolute;
	top: 0px;
	height: 70px;
	width: 100%;
	background: rgba(0,0,0,0.3);
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: white;
	font-family: 'Lato';
	font-size: 1.30em;
	/*border-bottom: 1px solid red;*/
	text-transform: uppercase;
	letter-spacing: 3px;
}

#header > .container-fluid {
	margin-top: 20px;
}
